<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.vam.mapper.MemberMapper">
  	<insert id="memberJoin">
  		insert into allgoods values(#{id}, #{pass}, #{name},  #{phoneNum} , #{mail} )

  	</insert>
  	
  	 <!-- 로그인 -->
      <select id="memberLogin" resultType="com.vam.model.MemberVO">
      
         select id, name, name, phoneNum, email from allgoods where id = #{id} and pass = #{pass}
      
      </select>
  	
  </mapper>